<script id="playerTemplate" type="text/template">
        	<div id="statusPlayer" class="play" style=" display: inline; float: left; width:30px; height:30px; background-image: url(img/playIcon.png); background-size: 30px 30px;"></div>
        	<div id="previousSong" class="previous" style="display: inline; float: left; width:30px; height:30px; background-image: url(img/previousIcon.jpg); background-size: 30px 30px;"></div>
        	<div id="nextSong" class="next" style="display: inline; float: left; width:30px; height:30px; background-image: url(img/nextIcon.jpg); background-size: 30px 30px;"></div>
</script>